/**
 * Search Module Style Sheet for Phire CMS 2
 */

.searches-header {
    margin: 10px 0 10px 0;
    padding: 10px 0 10px 0;
}

.searches-header:before {
    font-family: "FontAwesome";
    font-weight: normal;
    content: "\f002";
    margin: 0;
    padding: 0 8px 0 0;
    color: #b4b5b4;
}